/*Float, Clear  min: 8:11h */
.banner {
   border: 5px solid red;
   padding: 10px;
}
/* as paragraph is a level block element it has its new line property so it mess up our layout.
if an element is block level then it itself has to have a new line.
we can change that without using the display property, by using float and clear.
by defalt an image is floated as none.*/

img {
   float: left;
}
/* by adding float we break the in level property of everything that comes next to the img i guess -- it breaks the normal flow of the document!!!--.
 */
p {
   clear: left;
}
/* if i float to the left then i must clear also to the left.
this way we have the elements without defalt margin between img and paragraph */
/* if you're floating something in one direction and we want the next element to clear it and start a normal flow of the document as it should be, we also need to use the right or left property.
Now we have the paragraph that is actually respecting that it needs to find a new line as it should be*/