/*Float, Clear  min: 8:11h */
.banner {
   border: 5px solid red;
   padding: 10px;
   overflow: hidden;
}
/* as paragraph is a level block element it has its new line property so it mess up our layout.
if an element is block level then it itself has to have a new line.
we can change that without using the display property, by using float and clear.
by defalt an image is floated as none.*/

.one {
   float: right;
}
.two {
   float: left;
   height: 1000px;
}
p {
   clear: both;
}
/* here, if we large the image's dimensions way too much it would become larger than the box-element. That's why we use "overflow: hidden", so it never happens"   */